.App {
  
}



.App-header {
  background-color: #282c34;
 
  color: white;
}

.listuse
{
  width:30%;
  height: 200px;
  border-radius: 10px;
  border: solid 5px rgb(28, 28, 135);
  background-color: aquamarine;
  color: rgb(2, 2, 3);
  margin: 5px;
}
.listuse p{display: flex;flex-direction: row;}
.affich{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 40px;
  background-color: rgb(174, 165, 183);
}